<div id="storeList">
	<% if @product_cat %>
	<div id="featuredCat">
	</div>
	<% elsif @title_text %>
		<div class="instructions"><%= @blurb %> </div>
	<% end %>
	<ul>
		<% @products.each do |product| %>
		<li>
			<% if admin? %>
				<%= link_to 'Edit', edit_product_path(product), :class => 'admin', :style=> "display:inline;" %> | <%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete, :class => 'admin', :style=> "display:inline;" %><br /><br />
			<% end %>
			<%= link_to(product) do %>
				<%= image_tag(check_pic(product), :border => 0, :alt => product.name) %><br />
				<div><span><%= product.name %><br /><%= number_to_currency(product.price) %><br /><b>Item #<%= product.item_number %></b></span></div>
			<% end %>
		</li>		
		<% end %>
	</ul>
</div>