<div id="productLeft">
<h1><%= @title_text %></h1>
	<p>	We offer our fine estate and hand-crafted jewelry pieces both in the store and online.</p>
		<% if admin? %>
	<%= link_to 'Create New Product', new_product_path, :class => 'admin' %>
		<% end %>
   <dl>
	<%= paginate @products %>
	<%= render "store_grid" %>
	<%= paginate @products %>
  </dl>
</div><!-- end productLeft -->
<div id="productRight">
	<h1>Browse By Category:</h1>
	<ul>
		<% @product_cats.each do |product_cat| %>
			<li><%= link_to product_cat.cat_name, products_path(:cat=>product_cat) %></li>
		<% end %>
	</ul>
</div>