<%=section_link('Home',:controller => 'dash', :action => 'index')%>
<%=section_link('Store',:controller => 'store', :action => 'index')%>
<%=section_link('Services',:controller => 'services', :action => 'index')%>
<%=section_link('Contact',:controller => 'contact_us', :action => 'new')%>
<%=section_link('History',:controller => 'history', :action => 'index')%>
<div id="navStyle">
<%= image_tag ('/assets/line.gif') %>
</div>